body {
    background-color: rgb(237, 237, 237); /* Background color */
    color: #222; /* Foreground color used for text */
    font-family: Helvetica;
    font-size: 14px;
    margin: 0; /* Amount of negative space around the outside of the body */
    padding: 0; /* Amount of negative space around the inside of the body */
    height: 416px;
    /* Make the whole webpage text unselectable */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#container{
	min-height: 100%;
}

#header h1{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
    background-color: #ccc;
    border-bottom: 1px solid #666;
    color: #222;
    display: block;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 7px;
    margin: 0px;
}

#left {
	float: left;
	padding: 10px;
	width: 180px;
}

#clock {
	float: right;
	height: 325 px;
	margin-top: 5 px;
	margin-right: 25px;
}

#hours{
	float: left;
	font: 30px Helvetica, Geneva, sans-serif;
	margin-top: 30px;
}
#minutes{
	margin-top: 3 px;
	padding: 0px;
	float: right;
	font-weight: bold;
	font-size: 18px;
	line-height: 26px;
}

#footer{
	clear: both;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 10px;
	height: 30px;
	background-color: #b60606;
}
#cancel{
	float: left;
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	font-size: 22px;
}
#confirm{
	float: right;
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	font-size: 22px;
}

ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

li {
	color: rgb(140, 140, 140);
}

.highlight {
	background-color: rgb(204, 0, 0);
	color: #ffffff;
}

a {
	text-decoration: none;
}